<div class="materials-container" *ngIf="materials.length > 0; else nomaterials">
    <h2 class="order-title">Materials List</h2>

    <ul class="materials-list">
        <li *ngFor="let material of materials">
            <div class="order">
                <p>Name: {{ material.material_name }}</p>
                <p>Quantity: {{ material.quantity }}</p>
                <div>
                    <button class="button" (click)="openEditForm(material)">Edit</button>
                    <button class="red" (click)="openDeleteConfirmation(material)">Delete</button>
                </div>


            </div>
        </li>
    </ul>
</div>
<div *ngIf="showDeleteConfirmation" class="popup-container">
    <div class="popup">
        <h3>Confirm Deletion</h3>
        <p>Are you sure you want to delete order "{{ materialToDelete?.material_name }}"?</p>
        <button (click)="confirmDelete()">Yes</button>
        <button (click)="closeDeleteConfirmation()">No</button>
    </div>
</div>
<div *ngIf="selectedMaterial" class="modal">
    <div class="modal-content">
        <h3>Edit Material</h3>
        <form (ngSubmit)="saveEdit()">
            <label for="material_name">Name:</label>
            <input id="material_name" [(ngModel)]="selectedMaterial.material_name" name="material_name" required>

            <label for="quantity">Quantity:</label>
            <input id="quantity" [(ngModel)]="selectedMaterial.quantity" name="quantity" type="number" required>

            <button type="submit">Save</button>
            <button type="button" (click)="closeEditForm()">Cancel</button>
        </form>
    </div>
</div>
<ng-template #nomaterials>
    <p class="empty-materials">No materials available.</p>
</ng-template>
