<div class="orders-container" *ngIf="orders.length > 0; else noorders">
    <h2 class="order-title">Orders List</h2>

    <ul class="orders-list">
        <li *ngFor="let order of orders">
            <div class="order">
                <p>Order: {{ order.order_name }}</p>
                <p>Quantity: {{ order.quantity }}</p>
                <p>Done quantity: {{ order.done_quantity }}</p>
                <button class="button" (click)="openEditForm(order)">Edit</button>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="selectedOrder" class="modal">
    <div class="modal-content">
        <h3>Edit Order</h3>
        <form (ngSubmit)="saveEdit()">
            <label for="order_name">Name:</label>
            <input id="order_name" [(ngModel)]="selectedOrder.order_name" name="order_name" required>

            <label for="quantity">Quantity:</label>
            <input id="quantity" [(ngModel)]="selectedOrder.quantity" name="quantity" type="number" required>

            <label for="done_quantity">Done Quantity:</label>
            <input id="done_quantity" [(ngModel)]="selectedOrder.done_quantity" name="done_quantity" type="number" required>

            <button type="submit">Save</button>
            <button type="button" (click)="closeEditForm()">Cancel</button>
        </form>
    </div>
</div>
<ng-template #noorders>
    <p class="empty-orders">No orders available.</p>
</ng-template>
