<div class="order-container">
    <h1 class="order-title">Orders</h1>
    <ul class="orders-list">
        <li *ngFor="let order of orders" class="order">
            <p>ID: {{ order.id }}</p>
            <p>Name: {{ order.order_name }}</p>
            <p>Quantity: {{ order.quantity }}</p>
            <p>Done: {{ order.done_quantity }}</p>
            <p>Cell: {{ order.working_cell }}</p>
            <div>
                <button class="action-button" (click)="openEditForm(order)">Edit</button>
                <button class="action-button red" (click)="openDeleteConfirmation(order)">Delete</button>
            </div>
        </li>
    </ul>
    <p *ngIf="orders?.length === 0" class="empty-orders">
        There are no orders.
    </p>
</div>

<!-- Delete Confirmation Popup -->
<div *ngIf="showDeleteConfirmation" class="popup-container">
    <div class="popup">
        <h3>Confirm Deletion</h3>
        <p>Are you sure you want to delete order "{{ orderToDelete?.order_name }}"?</p>
        <button class="confirm" (click)="confirmDelete()">Yes</button>
        <button class="cancel" (click)="closeDeleteConfirmation()">No</button>
    </div>
</div>

<!-- Edit Popup -->
<div *ngIf="selectedOrder" class="popup-container">
    <div class="popup">
        <h3>Edit Order: {{ selectedOrder.order_name }}</h3>
        <form (ngSubmit)="saveEdit()">
            <label for="orderName">Order Name:</label>
            <input
                id="orderName"
                [(ngModel)]="selectedOrder.order_name"
                name="order_name"
                type="text"
                required
            />
            <label for="quantity">Quantity:</label>
            <input
                id="quantity"
                [(ngModel)]="selectedOrder.quantity"
                name="quantity"
                type="number"
                required
            />
            <label for="doneQuantity">Done Quantity:</label>
            <input
                id="doneQuantity"
                [(ngModel)]="selectedOrder.done_quantity"
                name="done_quantity"
                type="number"
                required
            />
            <button class="confirm" type="submit">Save</button>
            <button class="cancel" type="button" (click)="closeEditForm()">Cancel</button>
        </form>
    </div>
</div>
